
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align: center; font-size: 4em">Robin Aziz</h2>

<figure class="text-end" style="float: right; width: 26%">
    <blockquote class="blockquote">
        <p class="mb-0">Chase your goals not girls.</p>

    </blockquote>
    <figcaption class="blockquote-footer">
        Someone famous in <cite title="Source Title">Source Title</cite>
    </figcaption>
</figure>


<div class="profilBild">
    <img style="border-radius: 50%; width: 15%" src="https://img.ehf.eu/ecpictures/E6dJQfOvIeeNLqJ52Xmi63K-jtIN8kf5q9wdbm68Z_72zWzWAa5HjZwX63juXQ8_AVHPndPy1HvFU4ASlUkiiHLdjx-XOe1-Fy06-1_n4e8" />
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 45%; float:right">
    <div class="card-header">Bio</div>
    <div class="card-body">

        <p class="card-text"> Jobbar på HIQ som IT-konsult, samtidigt som jag pluggar 100% Systemvetenskap.</p>
    </div>
</div>


<div class="readOnlyFält">
    <div class="form-group row" style="">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
        </div>
    </div>
    <div class="form-group row" style="">
        <label for="staticEmail" class="col-sm-2 col-form-label">Telnr:</label>
        <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="0707829040">
        </div>
    </div>


    <div class="form-group row" style="">
        <label for="staticEmail" class="col-sm-2 col-form-label">Genre: </label>
        <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value=" IT konsult">
        </div>
    </div>
</div>




<div class="list-group" style="width: 45%">
    <h2>Erfarenheter</h2>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Meritor HVS AB</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1"> Jobbade som montör, och monterade bakaxlar.</p>
        <button type="button" class="btn btn-primary" style="float: right; height: 2em">Modify</button>
        <small>2015-2022</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">HIQ</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1"> IT-konsult, programmerade minecraft bland annat</p>
        <button type="button" class="btn btn-primary" style="float: right; height: 2em">Modify</button>
        <small class="text-muted">2010-2014</small>
    </a>
</div>





<div class="list-group" style="width: 45%; float: right;">
    <h2>Projekt</h2>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Plattan</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Vi ska fucka ur på plattan.</p>
        <button type="button" class="btn btn-primary" style="float: right; height: 2em">View</button>
        <small>2021-12-12</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">HIQ</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1"> IT-konsult, programmerade minecraft bland annat</p>
        <button type="button" class="btn btn-primary" style="float: right; height: 2em">View</button>
        <small class="text-muted">2010-2014</small>
    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Plattan</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Vi ska fucka ur på plattan.</p>
        <button type="button" class="btn btn-primary" style="float: right; height: 2em">View</button>
        <small>2021-12-12</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">HIQ</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1"> IT-konsult, programmerade minecraft bland annat</p>
        <button type="button" class="btn btn-primary" style="float: right; height: 2em">View</button>
        <small class="text-muted">2010-2014</small>
    </a>
</div>



<div class="form-group">
    <label for="exampleTextarea" class="form-label mt-4">Message Me</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    <button type="button" class="btn btn-primary">Send</button>
</div>



