
    @{
        ViewBag.Title = "Home Page";
    }


<div class="jumbotron">
    <h1></h1>
    <p class="lead"></p>
</div>

    <div class="row" style="margin-bottom: 5%">
        <div class="col-md-4" style="border: solid red 1px">
            <h2>Robin Aziz</h2>
            <p>
                BILD
                OM PERSONEN
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Läs mer &raquo;</a></p>
        </div>
        <div class="col-md-4" style="border: solid red 1px">
            <h2>Erik Hawerman</h2>
            <p>
                BILD
                OM PERSONEN
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Läs mer &raquo;</a></p>
        </div>
        <div class="col-md-4" style="border: solid red 1px">
            <h2>Scott Jander</h2>
            <p>
                BILD
                OM PERSONEN
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Läs mer &raquo;</a></p>
        </div>
    
        <div class="col-md-4" style="border: solid red 1px">
            <h2>Hampus Johansson</h2>
            <p>
                BILD
                OM PERSONEN
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Läs mer &raquo;</a></p>
        </div>
        <div class="col-md-4" style="border: solid red 1px">
            <h2>Isabella Håfström</h2>
            <p>
                BILD
                OM PERSONEN
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Läs mer &raquo;</a></p>
        </div>
        <div class="col-md-4" style="border: solid red 1px">
            <h2>Abboud Said</h2>
            <p>
                BILD 
                OM PERSONEN
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Läs mer &raquo;</a></p>
        </div>

    </div>

    <div class="row" style="margin-top: 10%">
        <h1>Projekt</h1>
        <div class="col-md-4" style="border: solid red 1px">
            <h2>Demostration på plattan</h2>
            <p>
                vi fucka ur på plattan
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Läs mer &raquo;</a></p>
        </div>
        <div class="col-md-4" style="border: solid red 1px">
            <h2>Jobb-strejk på Örebro sjukhus</h2>
            <p>Strejk från personalen, för låga löner</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Läs mer &raquo;</a></p>
        </div>
        <div class="col-md-4" style="border: solid red 1px">
            <h2>Svåra tentor</h2>
            <p>Studenter på Örebros universitet tycker tentorna är för svåra</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Läs mer &raquo;</a></p>
        </div>


    </div>
